---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading" style="background-color:grey;">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {% for group in site.data.links %}
  <h2>{{ group.title | escape }}</h2>
  <ul>
  {% for link in group.links %}
  <li>
	  <strong>
		  <a href="{{ link.link }}">
			  {{ link.title | escape }}
		  </a>
	  </strong>
	  {%- if link.comment -%}
	  {{ link.comment }}
	  {%- endif -%}
  </li>
  {% endfor %}
  </ul>
  {% endfor %}

</div>
