---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {% for group in site.data.links %}
  <h2 style=' margin-top:30px; padding-top:10px; border-top:1px solid cornflowerblue;'>{{ group.title | escape }}</h2>
  <ul style='padding:0px; margin:0px;'>
  {% for link in group.links %}
  <li style='list-style-type:none; padding-left:0px;'>
	  <strong>
		  <a href="{{ link.link }}">
			  {{ link.title | escape }}
		  </a>
	  </strong>
	  {%- if link.comment -%}
	  {{ link.comment }}
	  {%- endif -%}
  </li>
  {% endfor %}
  </ul>
  {% endfor %}

</div>
